@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1,h2 {
    font-family: 'Bebas Neue', cursive;
}
header {
    background: #FFF9F4;
    padding: 20px 0 100px;
}
.navbar img {
    max-width: 200px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    margin: 0 20px;
    font-size: 18px;
}

img {
    max-width: 100%;
}

.banner-text {
    padding-left: 100px;
}

.banner-text h1 {
    font-size: 80px;
    color: #FA804C;
}
.banner-text h1 span {
    color: #363958;
}

.banner-text a {
    padding: 15px 30px;
}

.banner-text a i {
    margin-right: 5px;
}
.casual-shoes {
    padding-top: 50px;
    padding-bottom: 50px;
}
.casual-shoes h2 {
    font-size: 50px;
    color: #363958;
    margin-bottom: 30px;
}
.shoe-price {
    font-size: 50px;
    display: inline-block;
    color: #FA804C !important;
}

.shoe-card {
    border: 0;
    display: inline-block;
    margin-right: 30px;
}
.shoe-img{
    background: #F1F1F1;
    border-radius: 25px;
}
.shoe-title {
    font-size: 24px;
    color: #363958;
    font-weight: 600;
}

.shoe-btn {
    padding: 15px 25px;
}
.feature {
    padding-top: 50px;
    padding-bottom: 50px;
}
.fetaure-text {
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.fetaure-text .icon {
    max-width: 85px;
    margin-right: 20px;
}

.fetaure-text h5 {
    font-size: 24px;
    font-weight: 600;
}
.shoe-color {
    padding-bottom: 50px;
}
.shoe-color h2 {
    font-size: 50px;
    color: #363958;
    margin-bottom: 30px;
}

footer {
    background: #F1F1F1;
    padding: 30px 0 10px;
}


@media (max-width: 576px) { 
    .banner-text {
        padding-left: 0px;
        padding-top: 20px;
    }

    .shoe-card {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .shoe-card {
        margin-bottom:20px;
        margin-right: 0;
    }
}
